<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.pdf-annotation-extraction</string>
	<key>connections</key>
	<dict>
		<key>5B84D786-4228-4895-B183-DF571B003C75</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5EE42C29-6B2C-42C9-BF53-12C26B7B22D8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5EE42C29-6B2C-42C9-BF53-12C26B7B22D8</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string>Extract Annotations as Markdown, insert Pandoc Citations with correct page numbers and more</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>PDF Annotation Extractor</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/run-extraction.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5EE42C29-6B2C-42C9-BF53-12C26B7B22D8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string>focusedapp</string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>917504</integer>
				<key>hotstring</key>
				<string>A</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.apple.finder</string>
					<string>com.readdle.PDFExpert-Mac</string>
					<string>net.highlightsapp.universal</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>5B84D786-4228-4895-B183-DF571B003C75</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Alfred Gallery[This workflow is now included in the Alfred gallery](http://alfred.app/workflows/chrisgrieser/pdf-annotation-extractor-alfred/) and auto-updates will there be managed by Alfred and not by this workflow anymore.---

# PDF Annotation Extractor
Extract Annotations as Markdown, insert Pandoc Citations with correct page numbers and more.

## Workflow Setup
- Install [Homebrew](https://brew.sh/).
- Install `pdfannots2json` by pasting the following into your terminal: `brew install mgmeyers/pdfannots2json/pdfannots2json`
- Set the hotkey by double-clicking the sky-blue field at the top left. (You can also use this workflow with the Alfred keyword `anno`.)
- Set up the workflow configuration to the left.

## Info
- [README](https://github.com/chrisgrieser/pdf-annotation-extractor-alfred/blob/main/README.md)
- [Changelog](https://github.com/chrisgrieser/pdf-annotation-extractor-alfred/blob/main/Changelog.md)
- [Bug Reports](https://github.com/chrisgrieser/pdf-annotation-extractor-alfred/issues)

## Created by
[Chris Grieser](https://chris-grieser.de/)

#### Profiles
- [ResearchGate](https://www.researchgate.net/profile/Christopher-Grieser)
- [Discord](https://discordapp.com/users/462774483044794368/)
- [GitHub](https://github.com/chrisgrieser/)
- [Twitter](https://twitter.com/pseudo_meta)
- [LinkedIn](https://www.linkedin.com/in/christopher-grieser-ba693b17a/)

#### Buy me a Coffee
[Ko-Fi](https://ko-fi.com/pseudometa)</string>
	<key>uidata</key>
	<dict>
		<key>5B84D786-4228-4895-B183-DF571B003C75</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>DOUBLE CLICK THIS to define Hotkey</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
		<key>5EE42C29-6B2C-42C9-BF53-12C26B7B22D8</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>run extraction</string>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>filtermode</key>
				<integer>2</integer>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string>The .bib file containing your library.</string>
			<key>label</key>
			<string>BibTeX Library Path</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>bibtex_library_path</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>markdown</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Markdown File</string>
						<string>markdown</string>
					</array>
					<array>
						<string>Obsidian</string>
						<string>obsidian</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>"Markdown File" will create a markdown file in the same directory as your PDF file. "Obsidian" requires setting an Obsidian destination inside your vault (see below).</string>
			<key>label</key>
			<string>Form of Output</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>output_style</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string>~/my-vault/literature-notes</string>
				<key>required</key>
				<false/>
			</dict>
			<key>description</key>
			<string>Only required when using Obsidian as output. Folder where your extracted annotations will be placed. Must be a folder inside your Obsidian vault.</string>
			<key>label</key>
			<string>Obsidian Destination</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>obsidian_destination</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
			</dict>
			<key>description</key>
			<string>Folder containing all PDFs</string>
			<key>label</key>
			<string>Highlights.app only</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>pdf_folder_highlights_app</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>pdfannots2json</string>
				<key>pairs</key>
				<array>
					<array>
						<string>pdfannots2json</string>
						<string>pdfannots2json</string>
					</array>
					<array>
						<string>pdfannots</string>
						<string>pdfannots</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Normally, this stay "pdfannots2json".</string>
			<key>label</key>
			<string>Extraction Engine</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>extraction_engine</string>
		</dict>
	</array>
	<key>version</key>
	<string>8.3.1</string>
	<key>webaddress</key>
	<string>https://github.com/chrisgrieser/pdf-annotation-extractor-alfred</string>
</dict>
</plist>
