<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.pdf-annotation-extraction</string>
	<key>connections</key>
	<dict>
		<key>089D6A27-5A58-41E6-93DF-C1DAE9A8A027</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A0673581-CCBB-4907-A5AB-0D1D37B2DB64</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0B185B98-4066-4CB1-9724-AA64206396DF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>856C6C52-1A73-4712-A28C-E277645BFC7A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>978BF1BA-F34E-40C6-8828-DD3CEE25C9FA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>E7F04590-596C-4274-ADF7-48604B53CE2F</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>17C74FE5-7E9D-4197-B566-95C2D125700F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EFF65A14-8130-4A5D-A826-B733F799683E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5EE42C29-6B2C-42C9-BF53-12C26B7B22D8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1F409233-6B32-4BC6-9162-D0D58C81A5F1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>17C74FE5-7E9D-4197-B566-95C2D125700F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>124DAD19-F950-4BFC-BEF7-54881682A216</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>83D85448-CA51-4A18-87B6-0F6F02EA0D73</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B7CFBC29-8784-4E92-B775-B87611C6E218</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2674BF22-E20F-4515-AD2A-534634F6CED3</key>
		<array/>
		<key>4683ABC7-8419-41CB-BD41-FA122EA45915</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A37D8724-7F84-4931-B412-68377C99A6EA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4CBB5EFD-7DE6-47E9-8677-232683385214</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4683ABC7-8419-41CB-BD41-FA122EA45915</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>534116A0-B39B-4D5F-B291-CFA206FBCD6D</key>
		<array/>
		<key>5B84D786-4228-4895-B183-DF571B003C75</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AEE1EEBA-A5DE-4704-BA7D-C2F5F56303F1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5EE42C29-6B2C-42C9-BF53-12C26B7B22D8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9BB10AD2-9139-46F2-9F29-E922356484CB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7C9BEE60-1D74-421C-A8E5-4BECA690AB4E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>978BF1BA-F34E-40C6-8828-DD3CEE25C9FA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7D407AFC-B0A7-4ABD-A235-5ADF18B6ADF1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>17C74FE5-7E9D-4197-B566-95C2D125700F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>124DAD19-F950-4BFC-BEF7-54881682A216</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>534116A0-B39B-4D5F-B291-CFA206FBCD6D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4683ABC7-8419-41CB-BD41-FA122EA45915</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>856C6C52-1A73-4712-A28C-E277645BFC7A</key>
		<array/>
		<key>8D6FF67C-CE9A-47BD-8EB3-0D073F0C1F87</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2674BF22-E20F-4515-AD2A-534634F6CED3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>124DAD19-F950-4BFC-BEF7-54881682A216</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>089D6A27-5A58-41E6-93DF-C1DAE9A8A027</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>978BF1BA-F34E-40C6-8828-DD3CEE25C9FA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8D6FF67C-CE9A-47BD-8EB3-0D073F0C1F87</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9BB10AD2-9139-46F2-9F29-E922356484CB</key>
		<array/>
		<key>A0673581-CCBB-4907-A5AB-0D1D37B2DB64</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7D407AFC-B0A7-4ABD-A235-5ADF18B6ADF1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A37D8724-7F84-4931-B412-68377C99A6EA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1F409233-6B32-4BC6-9162-D0D58C81A5F1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AEE1EEBA-A5DE-4704-BA7D-C2F5F56303F1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C62314C8-E529-459D-8A01-B9F3001DC160</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B7CFBC29-8784-4E92-B775-B87611C6E218</key>
		<array/>
		<key>C62314C8-E529-459D-8A01-B9F3001DC160</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0B185B98-4066-4CB1-9724-AA64206396DF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EFF65A14-8130-4A5D-A826-B733F799683E</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string>Extract Annotations as Markdown, insert Pandoc Citations with correct page numbers and more</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>PDF Annotation Extractor</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string>focusedapp</string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>917504</integer>
				<key>hotstring</key>
				<string>A</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.apple.finder</string>
					<string>com.readdle.PDFExpert-Mac</string>
					<string>net.highlightsapp.universal</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>5B84D786-4228-4895-B183-DF571B003C75</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/get-pdf-path.applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AEE1EEBA-A5DE-4704-BA7D-C2F5F56303F1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>⚠️ File is not a PDF</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>856C6C52-1A73-4712-A28C-E277645BFC7A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>.pdf$</string>
						<key>outputlabel</key>
						<string>is .pdf</string>
						<key>uid</key>
						<string>E7F04590-596C-4274-ADF7-48604B53CE2F</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>--</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>0B185B98-4066-4CB1-9724-AA64206396DF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>\n$</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>C62314C8-E529-459D-8A01-B9F3001DC160</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:citekey}</string>
				<key>title</key>
				<string>⌛️ Extracting Annotations...</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>EFF65A14-8130-4A5D-A826-B733F799683E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>2674BF22-E20F-4515-AD2A-534634F6CED3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>ObjC.import('stdlib');
  var annotations = `{query}`;

  //prior cleaning
  annotations = annotations.replaceAll ("  "," "); //double spaces
  annotations = annotations.replaceAll ("\n\n\n","\n"); //empty lines
  annotations = annotations.replaceAll ("\n\n","\n"); //empty lines
  annotations = annotations.replaceAll ("- ",""); //removes hyphenation

  //genererates the reference from filename provided by Alfred
  var shortRef = $.getenv('ref_name');

  //gets first page number from Alfred
  var firstPageString = $.getenv('first_page_no');
  var firstPageNo = parseInt(firstPageString) -1 ; //converts str to int

  //formats annotations for Notion Markdown
  annotations = annotations.replace ("## Detailed comments",""); //remove heading
  annotations = annotations.replace (/ \* Page (\d+).*:\n +&gt; +(.*)\n +(.*)\n/gm,`- **$3:** "$2" (ZZZZ: $1) \n`); //re-formatting commented highlights
  annotations = annotations.replace (/ \* Page (\d+).*:[\n| ]?([^\*&gt;]+)\n/gm,"- *$2 (ZZZZ: $1)*\n"); //re-formating free comments
  annotations = annotations.replaceAll ("ZZZZ",shortRef); //insert reference

  //inserts correct page numbers based on https://stackoverflow.com/a/32664436
  annotations = annotations.replace (/\: (\d+)\)/g, function (match, n){
    return ": " + (parseInt(n) + firstPageNo) + ")";
  });

  //merge quotes where the second highlight comment is exactly "c"
  //for quotes that span multiple pages
  annotations = annotations.replace (/" \(.*: (\d+)\) ?\n ?- \*\*c:\*\* "(.*\(.*: )(\d+\))/gm," $2$1-$3");

  //merges quotes where the second highlight comment is exactly "j" and puts "[...]" between them
  // for leaving out some stuff
  annotations = annotations.replace (/" \(.*: (\d+)\) ?\n ?- \*\*j:\*\* "(.*\(.*: )(\d+\))/gm," [...] $2$1-$3");

  //corrects page number for merged quotes on the same page
  annotations = annotations.replace (/(\d+)-(\1)\)/g,"$1)");

  // adds ref as title
  annotations = "# " + shortRef + annotations;

  return annotations;</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/process_annotations_write_note.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9BB10AD2-9139-46F2-9F29-E922356484CB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>anno</string>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array/>
				<key>sortmode</key>
				<integer>2</integer>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Extract PDF Annotations from '{query}'</string>
				<key>types</key>
				<array>
					<string>com.adobe.pdf</string>
				</array>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>7C9BEE60-1D74-421C-A8E5-4BECA690AB4E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/run-extraction.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5EE42C29-6B2C-42C9-BF53-12C26B7B22D8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/read-bibtex-library.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>978BF1BA-F34E-40C6-8828-DD3CEE25C9FA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^No .* found.*</string>
						<key>outputlabel</key>
						<string>no</string>
						<key>uid</key>
						<string>124DAD19-F950-4BFC-BEF7-54881682A216</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>yes</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>8D6FF67C-CE9A-47BD-8EB3-0D073F0C1F87</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>first_page_no</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>17C74FE5-7E9D-4197-B566-95C2D125700F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:first_page_no}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>\d+</string>
						<key>outputlabel</key>
						<string>yes</string>
						<key>uid</key>
						<string>124DAD19-F950-4BFC-BEF7-54881682A216</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>no</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>7D407AFC-B0A7-4ABD-A235-5ADF18B6ADF1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>;;</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>0</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>089D6A27-5A58-41E6-93DF-C1DAE9A8A027</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:split1}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>author</key>
					<string>{var:split5}</string>
					<key>citekey</key>
					<string>{var:split1}</string>
					<key>doi</key>
					<string>{var:split9}</string>
					<key>filepath</key>
					<string>{var:split10}</string>
					<key>first_page_no</key>
					<string>{var:split2}</string>
					<key>keywords</key>
					<string>{var:split4}</string>
					<key>ptype</key>
					<string>{var:split7}</string>
					<key>title</key>
					<string>{var:split3}</string>
					<key>url</key>
					<string>{var:split8}</string>
					<key>year</key>
					<string>{var:split6}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>A0673581-CCBB-4907-A5AB-0D1D37B2DB64</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "System Events" to set frontApp to (name of first process where it is frontmost)

if (frontApp is "PDF Expert or 

tell application id focusedapp to activatetell application "System Events" to key code 126 using {command down}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/scroll-up.applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>534116A0-B39B-4D5F-B291-CFA206FBCD6D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>number-input-loop</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>4CBB5EFD-7DE6-47E9-8677-232683385214</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Enter true page number of the first PDF page</string>
				<key>text</key>
				<string>BibTeX entry has no page numbers</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A37D8724-7F84-4931-B412-68377C99A6EA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>number-input-loop</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>83D85448-CA51-4A18-87B6-0F6F02EA0D73</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^-?\d+$</string>
						<key>outputlabel</key>
						<string>is number</string>
						<key>uid</key>
						<string>124DAD19-F950-4BFC-BEF7-54881682A216</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>no number</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>1F409233-6B32-4BC6-9162-D0D58C81A5F1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>4683ABC7-8419-41CB-BD41-FA122EA45915</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>⚠️ Input was not a number. Please try again.</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>B7CFBC29-8784-4E92-B775-B87611C6E218</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Alfred Gallery[This workflow is now included in the Alfred gallery](http://alfred.app/workflows/chrisgrieser/pdf-annotation-extractor-alfred/) and auto-updates will there be managed by Alfred and not by this workflow anymore.---

# PDF Annotation Extractor
Extract Annotations as Markdown, insert Pandoc Citations with correct page numbers and more.

## Workflow Setup
- Install [Homebrew](https://brew.sh/).
- Install `pdfannots2json` by pasting the following into your terminal: `brew install mgmeyers/pdfannots2json/pdfannots2json`
- Set the hotkey by double-clicking the sky-blue field at the top left. (You can also use this workflow with the Alfred keyword `anno`.)
- Set up the workflow configuration to the left.

## Info
- [README](https://github.com/chrisgrieser/pdf-annotation-extractor-alfred/blob/main/README.md)
- [Changelog](https://github.com/chrisgrieser/pdf-annotation-extractor-alfred/blob/main/Changelog.md)
- [Bug Reports](https://github.com/chrisgrieser/pdf-annotation-extractor-alfred/issues)

## Created by
[Chris Grieser](https://chris-grieser.de/)

#### Profiles
- [ResearchGate](https://www.researchgate.net/profile/Christopher-Grieser)
- [Discord](https://discordapp.com/users/462774483044794368/)
- [GitHub](https://github.com/chrisgrieser/)
- [Twitter](https://twitter.com/pseudo_meta)
- [LinkedIn](https://www.linkedin.com/in/christopher-grieser-ba693b17a/)

#### Buy me a Coffee
[Ko-Fi](https://ko-fi.com/pseudometa)</string>
	<key>uidata</key>
	<dict>
		<key>089D6A27-5A58-41E6-93DF-C1DAE9A8A027</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>420</real>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>0B185B98-4066-4CB1-9724-AA64206396DF</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>420</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
		<key>17C74FE5-7E9D-4197-B566-95C2D125700F</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>save first page number</string>
			<key>xpos</key>
			<real>810</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>1F409233-6B32-4BC6-9162-D0D58C81A5F1</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>785</real>
			<key>ypos</key>
			<real>515</real>
		</dict>
		<key>2674BF22-E20F-4515-AD2A-534634F6CED3</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>460</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>4683ABC7-8419-41CB-BD41-FA122EA45915</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>580</real>
			<key>ypos</key>
			<real>525</real>
		</dict>
		<key>4CBB5EFD-7DE6-47E9-8677-232683385214</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>420</real>
			<key>ypos</key>
			<real>495</real>
		</dict>
		<key>534116A0-B39B-4D5F-B291-CFA206FBCD6D</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>scroll up (helps finding first page number)</string>
			<key>xpos</key>
			<real>640</real>
			<key>ypos</key>
			<real>355</real>
		</dict>
		<key>5B84D786-4228-4895-B183-DF571B003C75</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>DOUBLE CLICK THIS to define Hotkey

Start Annotation Export</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>5EE42C29-6B2C-42C9-BF53-12C26B7B22D8</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>run extraction</string>
			<key>xpos</key>
			<real>900</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>7C9BEE60-1D74-421C-A8E5-4BECA690AB4E</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>keyword to select a PDF via Alfred</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>7D407AFC-B0A7-4ABD-A235-5ADF18B6ADF1</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>has page numbers</string>
			<key>xpos</key>
			<real>541</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>83D85448-CA51-4A18-87B6-0F6F02EA0D73</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>920</real>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>856C6C52-1A73-4712-A28C-E277645BFC7A</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>530</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>8D6FF67C-CE9A-47BD-8EB3-0D073F0C1F87</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>citekey found</string>
			<key>xpos</key>
			<real>341</real>
			<key>ypos</key>
			<real>305</real>
		</dict>
		<key>978BF1BA-F34E-40C6-8828-DD3CEE25C9FA</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>read metadata from bibtex library</string>
			<key>xpos</key>
			<real>180</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>9BB10AD2-9139-46F2-9F29-E922356484CB</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>process annotations &amp; write note</string>
			<key>xpos</key>
			<real>1045</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>A0673581-CCBB-4907-A5AB-0D1D37B2DB64</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>assign output variables</string>
			<key>xpos</key>
			<real>470</real>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>A37D8724-7F84-4931-B412-68377C99A6EA</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>Manual Entering of Page Number</string>
			<key>xpos</key>
			<real>640</real>
			<key>ypos</key>
			<real>495</real>
		</dict>
		<key>AEE1EEBA-A5DE-4704-BA7D-C2F5F56303F1</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>get file path</string>
			<key>xpos</key>
			<real>180</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>B7CFBC29-8784-4E92-B775-B87611C6E218</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>920</real>
			<key>ypos</key>
			<real>625</real>
		</dict>
		<key>C62314C8-E529-459D-8A01-B9F3001DC160</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>remove "\n"</string>
			<key>xpos</key>
			<real>345</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>EFF65A14-8130-4A5D-A826-B733F799683E</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>900</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>filtermode</key>
				<integer>2</integer>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string>The .bib file containing your library.</string>
			<key>label</key>
			<string>BibTeX Library Path</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>bibtex_library_path</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>markdown</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Markdown File</string>
						<string>markdown</string>
					</array>
					<array>
						<string>Obsidian</string>
						<string>obsidian</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>"Markdown File" will create a markdown file in the same directory as your PDF file. "Obsidian" requires setting an Obsidian destination inside your vault (see below).</string>
			<key>label</key>
			<string>Form of Output</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>output_style</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string>~/my-vault/literature-notes</string>
				<key>required</key>
				<false/>
			</dict>
			<key>description</key>
			<string>Only required when using Obsidian as output. Folder where your extracted annotations will be placed. Must be a folder inside your Obsidian vault.</string>
			<key>label</key>
			<string>Obsidian Destination</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>obsidian_destination</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>pdfannots2json</string>
				<key>pairs</key>
				<array>
					<array>
						<string>pdfannots2json</string>
						<string>pdfannots2json</string>
					</array>
					<array>
						<string>pdfannots</string>
						<string>pdfannots</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Extraction engine used. Normally, this should be `pdfannots2json`.</string>
			<key>label</key>
			<string>Advanced</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>extraction_engine</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
			</dict>
			<key>description</key>
			<string>Folder containing all PDFs</string>
			<key>label</key>
			<string>Highlights.app only</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>pdf_folder_highlights_app</string>
		</dict>
	</array>
	<key>version</key>
	<string>8.2.3</string>
	<key>webaddress</key>
	<string>https://github.com/chrisgrieser/pdf-annotation-extractor-alfred</string>
</dict>
</plist>
